<!DOCTYPE html>
{% extends "main.html" %}
{% load static %}


{% block content %}




    <section class="s2">
        <div class="main-container">
            <div style="margin-top: 15px">

                <a href="{% url "home" %}" class="btn-links">Back</a>
            </div>

            <h2 style="text-align: center;padding: 20px">{{ event.name }}</h2>

            <div class="event-page">
                <div class="event">

                    <div class="event-title">
                        {% if registered %}
                            <div class="alert">Already Registred</div>
                        {% else %}
                            <a href="{% url "event-registration" event.id %}"
                               class="btn btn-secondary">Register </a>
                        {% endif %}
                        {% if submitted %}
                            <p class="alert ">Already submitted</p>
                        {% else %}
                            <a href="{% url "event-submission" event.id %}" class="btn btn-secondary"> Submission</a>
                        {% endif %}
                    </div>
                    <p class="description">{{ event.description }}</p>
                    <p class="description-1">Registered Members : {{ event.participants.count }}</p>
                    <div class="dates">
                        <label>Start Date : {{ event.start_date|date }}</label>
                        <label>Deadline : {{ event.end_date|date }}</label>
                    </div>

                </div>
                <div class="main-container">
                    <div class="user-list">
                        {% for user in participants %}
                            <a href="{% url "user-profile" user.id  %}">
                                <div class="user-profile">
                                    <img class="profile-pic" src="{{ user.imageURL }}">
                                    <h4 class="user-name">{{ user.name }}</h4>
                                </div>
                            </a>

                        {% endfor %}
                    </div>
                </div>


            </div>

        </div>
    </section>





{% endblock %}
