<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>


    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"/>


</head>
<body>
{% block content %}

    <div class="navigation-bar">

        <div>
            <a href="home.html">
                <div class="logo-wrapper">
                    <img id="logo" src="{% static "images/Hackathon-Logo.png" %}">

                </div>
            </a>
        </div>

        <div>
            <ul id="navigation">

                <li><h3 style="margin-right: 300px;color: #fff" > Welcome {{ request.user.name }}</h3></li>
                <li><a href="{% url "home" %}">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>


                <li>
                    <div class="dropdown">
                        <button class="dropbtn">
                            <img class="user-img"
                                 src="https://images.vexels.com/media/users/3/147102/isolated/lists/082213cb0f9eabb7e6715f59ef7d322a-instagram-profile-icon.png">

                        </button>
                        <div class="dropdown-content">
                            <a aria-current="page" href="{% url "user-profile" request.user.id %}"><i
                                    class="fa fa-user-circle"
                                    style="font-size:20px"></i>Profile</a>
                            {% if request.user.is_authenticated %}
                                <a aria-current="page" href="{% url "logout" %}"><i
                                        class="fa fa-sign-out"
                                        style="font-size:20px"></i> Log Out</a>
                            {% else %}
                                <a aria-current="page" href="{% url "login" %}"><i
                                        class="fa fa-sign-in"
                                        style="font-size:20px"></i>Log In</a>
                            {% endif %}


                        </div>
                    </div>
                </li>


            </ul>
        </div>
    </div>




{% endblock %}
</body>
</html>