<!DOCTYPE html>
{% extends "main.html" %}
{% load static %}


{% block content %}


    <section class="s1">
        <div class="main-container">
            <div class="profile">
                <div class="left-column">
                    <div class="profile-picture">

                    </div>
                </div>
                <div class="right-column">

                </div>
            </div>

        </div>

    </section>



    <section class="s2">
        <div class="main-container">

            <h4 style="text-align: center;padding: 20px"> My Registered Events</h4>

            <div class="event-page">
                {% for event in registered_events %}
                    <div class="event">
                        <h4>{{ event.name }}</h4>

                        {#                            <label> Date : {{ event.c|date }} </label>#}

                    </div>
                {% endfor %}
            </div>


        </div>
    </section>

    <section class="s1">
        <div class="main-container">

            <h4 style="text-align: center;padding: 20px"> Submitted Events</h4>

            <div class="event-page">
                {% for submission in submitted_events %}
                    <div class="event">
                        <div class="update-box">
                            <h4>{{ submission.event.name }}</h4>
                            <a style="max-width: 400px" href="{% url "update-submission" submission.id %}"
                               class="btn btn-secondary">Update Submission</a>
                        </div>

                        <label> Details : {{ submission.details }} </label><br/>
                        <label> Submitted Date : {{ submission.submitted_date|date }} </label>

                    </div>
                {% endfor %}
            </div>

        </div>
    </section>



{% endblock %}
