<!DOCTYPE html>
{% extends "main.html" %}
{% load static %}


{% block content %}


    <section class="s2">
        <div class="main-container">
            <a href=""></a>
            <h3 style="text-align: center;padding: 20px">User Profile Update</h3>

            <form id="form" method="POST" enctype="multipart/form-data">

                {% csrf_token %}

                {% for field in form %}
                    <div class="form-group">
                        <label>{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Update Profile</button>
                </div>

            </form>
        </div>
    </section>






{% endblock %}
