@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');

:root {
    --mainTextColor: #000;
    --secondaryTextColor: rgb(51 51 51);
    --mainLinkColor: #0da2b8;
    --mainBorderColor: rgb(218, 218, 218);
    --mainBgColor: rgb(249, 250, 251);


}

* {
    line-height: 1.9em;
    box-sizing: border-box;
    color: var(--mainTextColor);
    scroll-behavior: smooth;

    font-family: 'Lato', 'Arial', sans-serif;
}

body {
    background-color: var(--mainBgColor);

}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}


p, span, small, li {
    color: var(--secondaryTextColor);
    font-size: 1em;
}

small {
    font-size: .8em;
}

a {
    text-decoration: none;
    color: var(--mainLinkColor);
    font-weight: 500;
}

li {
    line-height: 1.9em;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
}

/* Start Landing Page */

.landing-page {
    position: relative;
    background-color: #FFF;
}


.landing-page .info {
    width: 35%;
    float: left;
    margin-top: 130px;
}

.landing-page .info h1 {
    font-size: 44px;
    margin: 0 0 20px;
    line-height: 1.4;
    color: #5d5d5d;
}

.landing-page .info p {
    margin: 0;
    line-height: 1.6;
    font-size: 15px;
    color: #5d5d5d;
}

.landing-page .info button {
    border: 0;
    border-radius: 20px;
    padding: 12px 30px;
    margin-top: 30px;
    cursor: pointer;
    color: #FFF;
    background-color: #6c63ff;
}

.landing-page .image {
    width: 50%;
    float: right;
    margin-top: 35px;
}

.landing-page .image img {
    max-width: 100%;
}

.clearfix {
    clear: both;
}

/* End Landing Page */

#logo {
    max-width: 200px;
    max-height: 45px;

}


.navigation-bar {

    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid var(--mainBorderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom right, #ecc112, #f5c6c6);
}

.nav-link {

    color: #fff;
}

.dropbtn {
    background: none;
    color: white;

    font-size: 16px;
    border: none;
}

.user-img {
    max-width: 25px;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
}

.dropdown-content a {
    font-size: 15px;
    color: black;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    font-size: 20px
}


.dropdown:hover .dropdown-content {
    display: block;
}


.s1 {
    background-color: var(--mainBgColor);
    border-bottom: 1px solid var(--mainBorderColor);
    overflow: auto;
}

.s2 {
    background-color: var(--mainBgColor);
    border-bottom: 1px solid var(--mainBorderColor);
    overflow: auto;
}


.main-container {
    width: 1200px;
    margin: 0 auto;
}


#navigation a {
    color: var(--secondaryTextColor);
}


#navigation {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 10px;
    margin-right: 50px;
}

#navigation li {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    padding: 0 25px;
}


.logo-wrapper {
    padding: 3px;
    margin-left: 15px;

}


#profile_pic {
    display: block;
    margin: 0 auto;

    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 2px solid var(--mainBorderColor);
}

.profile {
    display: flex;
    height: 300px;
    flex-direction: row;

}

.left-column {
    flex-basis: 25%;


    border: 2px solid #ccc;

    padding-top: 50px;
    padding-bottom: 50px;
}

.right-column {
    flex-basis: 75%;

    border: 2px solid #ccc;

    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
}

.profile-picture {
    flex-basis: 25%;

    display: flex;

    justify-content: center;
    height: 200px;


}

.profile-picture img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    border: 5px solid #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);


}


#preview-shadow {
    background-color: var(--mainBorderColor);
    max-width: 300px;
    height: 180px;
    padding-left: 30px;
    padding-top: 30px;
}

#preview {
    width: 300px;
    border: 1.5px solid #17a2b8;
    background-color: var(--mainTextColor);
    padding: 15px;
    position: relative;
}

.corner {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1.5px solid #17a2b8;
    background-color: #fff;
    position: absolute;
}


.event-wrapper {

    display: block;
    width: fit-content;

}

.event-page {
    padding: 10px;
}

.users {
    padding: 15px;
    border-color: var(--mainBorderColor);

}

.event-left-column {
    flex-basis: 40%;


    border: 2px solid #ccc;

    padding: 15px;
}

.event-right-column {
    flex-basis: 60%;

    border: 2px solid #ccc;

    padding: 15px;
}

.event {
    background: #fff8f8;


    border-radius: 5px;
    margin-bottom: 15px;
}

.dates {
    display: flex;
    justify-content: space-between;
    padding: 5px;


}

.description {


    padding: 0 10px;
}

.description-1 {

    padding: 0 10px;
}

.title {
    text-align: center;

    padding-bottom: 10px;

}

.btn-primary {
    margin-bottom: 10px;
}

.event-picture {


    display: flex;

    justify-content: center;


}

.event-picture img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    border: 5px solid #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);


}

.user-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 20px;


}

.user-profile {
    border: 1px solid var(--mainBorderColor);
    border-radius: 20px;
    margin-bottom: 15px;

    max-height: 150px;
}

.profile-pic {
    margin: auto;
    height: 90px;
    width: 90px;
    display: block;
    border-radius: 50%;
    object-fit: cover;
    padding-top: 5px;

}

.user-name {
    text-align: center;
    padding: 5px;
    font-size: 20px;

}

.btn-secondary {
    margin: 5px;
    font-family: "Readex Pro", serif;
    min-width: 150px;
    width: fit-content;
    background: steelblue;

}

.alert {
    margin: 5px;
    padding: 5px 15px;
    background-color: #198754;
    color: white;

}

.event-participants {
    margin-left: 20px;
}


.thumbnail {
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;

}


#form {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid var(--mainBorderColor);
    padding: 15px;
    border-radius: 5px;
    background-color: var(--mainBorderColor);
    margin-bottom: 50px;

}


#project-form {
    display: block;
    max-width: 865px;
    margin: 0 auto;
    border: 1px solid var(--mainBorderColor);
    padding: 15px;
    border-radius: 5px;
    background-color: var(--mainBorderColor);
    margin-bottom: 50px;

}


#label {
    font-size: 18px;
    padding-top: 4.5px;
    padding-bottom: 3px;


}

.input {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #192734;


}

.input-disabled {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    pointer-events: none;
    color: #192734;


}

.text-area {
    width: 100%;
    height: 150px;
    padding: 8px 20px;
    color: #192734;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;

}

.btn-links :hover {


}

.already {

    display: flex;
    justify-content: center;
    margin: 30px 40px;

}

#link {
    color: #eeeeee;
    margin-left: 30px;
    font-size: 22px;
    text-decoration: underline;

}


#submit-btn {
    margin-top: 20px;
    font-size: 18px;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #fff;
    font-weight: bolder;
    background-color: var(--mainLinkColor);
    border: none;
}

.forgot-password {
    color: #b6b6cb;
}

.confirm-box {
    display: flex;
    gap: 15px;

}

.update-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


@media screen and (max-width: 1200px) {
    .main-container {
        width: 95%;
    }
}

@media screen and (max-width: 800px) {
    .intro-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas:
			'nav-wrapper'
			'left-column'
			'right-column';
    }

    .right-column {
        justify-content: center;
    }

}

@media screen and (max-width: 600px) {
    .edu-container {

        width: 100%;
        flex-flow: column;
        align-items: start;

    }

    .education-logo {
        display: none;
    }

}

@media screen and (max-width: 400px) {
    #preview-shadow {
        max-width: 280px;
        height: 180px;
        padding-left: 10px;
        padding-top: 10px;
    }

    #preview {
        width: 280px;

    }

    .skills-img-container {

        flex-flow: column;
    }

    .skills-img {
        display: none;
    }

    .edu-container {


        flex-flow: column;
        align-items: center;

    }

    .education-logo {
        display: none;
    }


}



.event-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.event-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  width: 100%;
  max-width: 1200px;
}

.l-column {
  width: 40%;
  margin-right: 50px;
}

.l-column img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.r-column {
  width: 60%;
}

.small {
  font-size: 14px;
  color: #4285f4;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.event-title {
  font-size: 48px;
  color: #333;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 1.2;
}

.event-des {
  font-size: 16px;
  color: #555;
  margin-bottom: 30px;
  line-height: 1.6;
}

.button {
  display: inline-block;
  background-color: #4285f4;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px 40px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: #3367d6;
}