@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');

:root {
    --mainTextColor-light: #000;
    --secondaryTextColor-light: rgb(51 51 51);
    --mainLinkColor-light: #0da2b8;
    --mainBorderColor-light: rgb(218, 218, 218);
    --mainBgColor-light: rgb(249, 250, 251);

    --mainTextColor-dark: #fff;
    /* --secondaryTextColor-dark:#adb0b1; */
    --secondaryTextColor-dark: #cbc8d0;
    --mainLinkColor-dark: rgb(30, 190, 214);
    --mainBorderColor-dark: #2b3031;
    --mainBgColor-dark: #131415;

    --mainTextColor: var(--mainTextColor-dark);
    --secondaryTextColor: var(--secondaryTextColor-dark);
    --mainLinkColor: var(--mainLinkColor-dark);
    --mainBorderColor: var(--mainBorderColor-dark);
    --mainBgColor: var(--mainBgColor-dark);
}

* {
    font-family: 'Readex Pro', serif;
    line-height: 1.9em;
    box-sizing: border-box;
    color: var(--mainTextColor);
    scroll-behavior: smooth;
}

body {
    background-color: var(--mainBgColor);
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}


p, span, small, li {
    color: var(--secondaryTextColor);
    font-size: 1em;
}

small {
    font-size: .8em;
}

a {
    text-decoration: none;
    color: var(--mainLinkColor);
    font-weight: 500;
}

li {
    line-height: 1.9em;
}


#logo {
    max-width: 200px;
    max-height: 45px;

}


.navigation-bar {

    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid var(--mainBorderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary);
}

.nav-link {

    color: #fff;
}

.dropbtn {
    background: none;
    color: white;

    font-size: 16px;
    border: none;
}

.user-img {
    max-width: 25px;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
}

.dropdown-content a {
    font-size: 15px;
    color: black;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    font-size: 20px
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
/*.dropdown:hover .dropbtn {background-color: #3e8e41;}*/

.s1 {
    background-color: var(--mainBgColor-dark);
    border-bottom: 1px solid var(--mainBorderColor-dark);
    overflow: auto;
}

.s2 {
    background-color: var(--mainBgColor-dark);
    border-bottom: 1px solid var(--mainBorderColor-dark);
    overflow: auto;
}


.main-container {
    width: 1200px;
    margin: 0 auto;
}


.greeting-wrapper {
    display: flex;
    text-align: center;
    align-content: center;
    min-height: 10em;
    gap: 20px;
    justify-content: center;

}

#navigation a {
    color: var(--secondaryTextColor);
}


#navigation {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 10px;
    margin-right: 50px;
}

#navigation li {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    padding: 0 25px;
}


.logo-wrapper {
    padding: 3px;
    margin-left: 15px;

}


.left-column {
    grid-area: left-column;
    padding-top: 50px;
    padding-bottom: 50px;
}

#profile_pic {
    display: block;
    margin: 0 auto;

    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 2px solid var(--borderColor);
}


.right-column {
    grid-area: right-column;
    display: grid;
    align-content: center;

    padding-top: 50px;
    padding-bottom: 50px;
}


#preview-shadow {
    background-color: var(--mainBorderColor-light);
    max-width: 300px;
    height: 180px;
    padding-left: 30px;
    padding-top: 30px;
}

#preview {
    width: 300px;
    border: 1.5px solid #17a2b8;
    background-color: var(--previewBg);
    padding: 15px;
    position: relative;
}

.corner {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1.5px solid #17a2b8;
    background-color: #fff;
    position: absolute;
}

/*#corner-tl {*/
/*    top: -5px;*/
/*    left: -5px*/
/*}*/

/*#corner-tr {*/
/*    top: -5px;*/
/*    right: -5px*/
/*}*/


/*#corner-br {*/
/*    bottom: -5px;*/
/*    right: -5px*/
/*}*/


/*#corner-bl {*/
/*    bottom: -5px;*/
/*    left: -5px*/
/*}*/


.event-wrapper {

    display: grid;
    column-gap: 15px;
    grid-template-columns: auto auto ;
    border: 1px solid var(--mainBorderColor);
}
.event {
    background: #622626;
    border: 1px solid var(--mainBorderColor);

    border-radius: 5px;
    margin-bottom: 15px;
}

.dates {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-top: 1px solid var(--mainBorderColor-light);

}
.description {

    padding: 0 10px;
}
.title {
    text-align: center;

    padding-bottom: 10px;
    border-bottom: 1px solid var(--mainBorderColor-light);
}
.user-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;


}
.user-profile {
    background: #cbc8d0;
    border: 1px solid var(--mainBorderColor);
    border-radius: 5px;
    margin-bottom: 15px;
}
.register-btn {

    font-size: 20px;
    font-family: 'Russo One', sans-serif;

    width: 100%;
    margin: 10px 20px;
    color: #000000;
    background-color: var(--buttonColor);
    border: none;
    padding: 7px 0;
    text-align: center;
    text-space: 10px;
    border-radius: 15px;
}

.registered {

    font-size: 20px;
    font-family: 'Russo One', sans-serif;
    width: 100%;
    margin: 10px 20px;
    color: #010309;
    background-color: red;
    border: none;
    padding: 7px 0;
    text-align: center;
    text-space: 10px;
    border-radius: 15px;
}

.event-participants {
    margin-left: 20px;
}

.education {
    margin-top: 20px;
}

.education h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.education ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.education li {
    margin-bottom: 20px;
}

.education h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.education p {
    margin: 0;
    font-size: 16px;
}

.event {
    padding: 10px;
}

.education-logo {
    width: 150px;
}

#skills {


    background-color: var(--previewShadow);
}

.skills-img-container {
    display: flex;
    margin-top: 10px;
}

.skills-img {
    width: 100px;
    height: 50px;
    padding: 5px 20px;
}

.skill-name {
    font-size: 25px;
    padding: 0 20px;
}

.skills-section {
    display: grid;
    align-content: center;
    text-align: center;
}


.post-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    gap: 20px;
    justify-content: center;
    padding-bottom: 50px;


}

.post {
    border: 1px solid var(--borderColor);
    -webkit-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}

.thumbnail {
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;

}

.post-preview {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
}

.post-title {
    color: black;
    margin: 0;
    padding-bottom: 5px;
}

.post-intro {
    display: flex;
    color: #4b5156;
    font-size: 14px;
}


#form {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid var(--borderColor);
    padding: 15px;
    border-radius: 5px;
    background-color: var(--mainColor);
    margin-bottom: 50px;

}


#project-form {
    display: block;
    max-width: 865px;
    margin: 0 auto;
    border: 1px solid var(--borderColor);
    padding: 15px;
    border-radius: 5px;
    background-color: var(--mainColor);
    margin-bottom: 50px;

}

#message-box {

    display: block;
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid var(--borderColor);
    padding: 15px;
    border-radius: 5px;
    background-color: var(--mainColor);
    margin-bottom: 50px;

}

#label {
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 2px;


}

.input {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #192734;


}

.input-disabled {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    pointer-events: none;


}

.text-area {
    width: 100%;
    padding: 8px 20px;
    color: #192734;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;

}

.btn-links {
    margin-top: 20px;
    width: 40px;
    padding: 5px 15px;

    color: #000000;
    background-color: var(--buttonColor);
    border: none;
}

.btn-links :hover {


}

.already {

    display: flex;
    justify-content: center;
    margin: 30px 40px;

}

#link {
    color: #eeeeee;
    margin-left: 30px;
    font-size: 22px;
    text-decoration: underline;

}


#submit-btn {
    margin-top: 20px;
    font-size: 18px;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #fff;
    font-weight: bolder;
    background-color: var(--buttonColor);
    border: none;
}

.confirm-box {
    display: flex;
    gap: 15px;

}

.update-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


@media screen and (max-width: 1200px) {
    .main-container {
        width: 95%;
    }
}

@media screen and (max-width: 800px) {
    .intro-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas:
			'nav-wrapper'
			'left-column'
			'right-column';
    }

    .right-column {
        justify-content: center;
    }

}

@media screen and (max-width: 600px) {
    .edu-container {

        width: 100%;
        flex-flow: column;
        align-items: start;

    }

    .education-logo {
        display: none;
    }

}

@media screen and (max-width: 400px) {
    #preview-shadow {
        max-width: 280px;
        height: 180px;
        padding-left: 10px;
        padding-top: 10px;
    }

    #preview {
        width: 280px;

    }

    .skills-img-container {

        flex-flow: column;
    }

    .skills-img {
        display: none;
    }

    .edu-container {


        flex-flow: column;
        align-items: center;

    }

    .education-logo {
        display: none;
    }


}

.fa {
    justify-content: end;
    padding: 5px 5px 5px 5px;
    font-size: 30px;
    width: fit-content;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 10px;
}


.fa-github {
    background: #000000;
    color: white;
    padding-right: 10px;
    font-size: 45px;
    margin-left: 30px;
    justify-content: end;

}
